{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if group.stage != 0 %}
    Stage үе шат: {{ group.stage }}
    {% else %}
    дадлага хийх
    {% endif %}
{% endblock %}

{% block content %}
    <p>дугаар:</p>
    <p id ="text" style="-webkit-touch-callout: none; 
                -webkit-user-select: none; 
                -khtml-user-select: none; 
                -moz-user-select: none; 
                    -ms-user-select: none; 
                        user-select: none; ">{{ task_number }}</p>

    
    <input id="transcript_input" />
    <button type="button" onclick="submit_transcription()">Submit transcription</button>

    <p>
    <!-- {% next_button %} -->
    </p>
{% endblock %}

{% block scripts %}
<script>
    
    // placeholder for stage round number
    var stage_round_number = parseFloat("{{ player.stage_round_number }}");
    var text = document.getElementById('text');


    function liveRecv(data){
        if (data["practice_stage"]){
            // if two images have been displayed on practice mode
            if (stage_round_number - 1 == data["practice_rounds"]){
                document.getElementById('form').submit();   
            }
        }
        console.log(data["task_number"]);
        text.textContent =  data["task_number"];
        
    }  

    // sending the transcription to our live functions in models.py
    function submit_transcription() {
        transcription = document.getElementById("transcript_input").value;
        
        // updating the round count
        stage_round_number = stage_round_number + 1;

        // sending the current count of correct answers
        liveSend({"transcription": transcription, "stage_round_number": stage_round_number});
        document.getElementById("transcript_input").value = '';
    }

</script>
{% endblock %}